#include <dt-bindings/zmk/keys.h>


/ {

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Base";
            bindings = <
                &kp A      // 这是一个占位符，用来保证矩阵是 1x1
            >;
        };
    };
};