#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &transform0;
    };

    /* 键盘扫描矩阵 (1 列 x 1 行) */
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";

        /* Col: 输出引脚 (P0.10) */
        col-gpios = <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;

        /* Row: 输入引脚 (P0.09) */
        row-gpios = <&gpio0 9 (GPIO_ACTIVE_HIGH)>;
    };

    /* ZMK 键位矩阵映射转换 */
    transform0: matrix_transform {
        compatible = "zmk,matrix-transform";
        columns = <1>;
        rows = <1>;
        map = < RC(0,0) >;
    };
};